version: '3'

services:
    # Jitsi Meet Web (Frontend)
    web:
        image: jitsi/web
        restart: always
        ports:
            - '${HTTP_PORT}:80'
            - '${HTTPS_PORT}:443'
        volumes:
            - ${CONFIG_DIRECTORY}/web:/config:Z
            - ${CONFIG_DIRECTORY}/transcripts:/usr/share/jitsi-meet/transcripts:Z
        environment:
            - ENABLE_AUTH=1
            - ENABLE_GUESTS=1
            - XMPP_DOMAIN=meet.jitsi
            - XMPP_AUTH_DOMAIN=auth.meet.jitsi
            - XMPP_BOSH_URL_BASE=http://xmpp.meet.jitsi:5280
            - XMPP_MUC_DOMAIN=muc.meet.jitsi
            - TZ=UTC
        networks:
            meet.jitsi:
                aliases:
                    - ${JITSI_DOMAIN}

    # XMPP Server (Prosody)
    prosody:
        image: jitsi/prosody
        restart: always
        expose:
            - '5222'
            - '5347'
            - '5280'
        volumes:
            - ${CONFIG_DIRECTORY}/prosody/config:/config:Z
            - ${CONFIG_DIRECTORY}/prosody/prosody-plugins-custom:/prosody-plugins-custom:Z
        environment:
            - XMPP_DOMAIN=meet.jitsi
            - XMPP_AUTH_DOMAIN=auth.meet.jitsi
            - XMPP_MUC_DOMAIN=muc.meet.jitsi
            - TZ=UTC
            - JICOFO_COMPONENT_SECRET=${JICOFO_COMPONENT_SECRET}
            - JICOFO_AUTH_PASSWORD=${JICOFO_AUTH_PASSWORD}
            - JVB_AUTH_PASSWORD=${JVB_AUTH_PASSWORD}
        networks:
            meet.jitsi:
                aliases:
                    - xmpp.meet.jitsi

    # Jicofo (Focus Component)
    jicofo:
        image: jitsi/jicofo
        restart: always
        volumes:
            - ${CONFIG_DIRECTORY}/jicofo:/config:Z
        environment:
            - XMPP_DOMAIN=meet.jitsi
            - XMPP_auth_DOMAIN=auth.meet.jitsi
            - XMPP_MUC_DOMAIN=muc.meet.jitsi
            - XMPP_INTERNAL_MUC_DOMAIN=internal.auth.meet.jitsi
            - JICOFO_COMPONENT_SECRET=${JICOFO_COMPONENT_SECRET}
            - JICOFO_AUTH_PASSWORD=${JICOFO_AUTH_PASSWORD}
            - TZ=UTC
        depends_on:
            - prosody
        networks:
            meet.jitsi:

    # Jitsi Videobridge (JVB)
    jvb:
        image: jitsi/jvb
        restart: always
        ports:
            - '${JVB_PORT}:${JVB_PORT}/udp'
            - '${JVB_TCP_PORT}:${JVB_TCP_PORT}'
        volumes:
            - ${CONFIG_DIRECTORY}/jvb:/config:Z
        environment:
            - XMPP_AUTH_DOMAIN=auth.meet.jitsi
            - XMPP_INTERNAL_MUC_DOMAIN=internal.auth.meet.jitsi
            - XMPP_SERVER=xmpp.meet.jitsi
            - JVB_AUTH_USER=jvb
            - JVB_AUTH_PASSWORD=${JVB_AUTH_PASSWORD}
            - JVB_BREWERY_MUC=jvbbrewery
            - TZ=UTC
            - PUBLIC_URL=https://${JITSI_DOMAIN}:${HTTPS_PORT}
            - JVB_PORT=${JVB_PORT}
            - JVB_TCP_HARVESTER_DISABLED=false
            - JVB_TCP_PORT=${JVB_TCP_PORT}
        depends_on:
            - prosody
        networks:
            meet.jitsi:

networks:
    meet.jitsi:
