# Jitsi Meet Docker Configuration

HTTP_PORT=8000
HTTPS_PORT=8443
TZ=UTC
JITSI_DOMAIN=localhost

# Directories
CONFIG_DIRECTORY=./config

# Passwords (CHANGE THESE IN PRODUCTION)
JICOFO_COMPONENT_SECRET=PleaseChangeMe
JICOFO_AUTH_PASSWORD=PleaseChangeMe
JVB_AUTH_PASSWORD=PleaseChangeMe

# JVB Ports
JVB_PORT=10000
JVB_TCP_PORT=4443
